<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ScanCode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="full" (click)="scanMyCode()">
        Scan QR Code
    </ion-button>
    <ion-list>
        <ion-item *ngFor="let c of contacts">
            <ion-label>
                <p>
                    {{ c.text }}
                </p>
                <p>
                    {{ c.format }}
                </p>
                {{ c.cancelled }}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
